<div class="home">
    <h1>Home</h1>
    
</div>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <link rel="bootstrapstylesheet" href="./assets/css/bootstrapstyle.css" />
    <link rel="stylesheet" href="main.css">
    <title> {{ title }} </title>

</head>

<body>
    <header class="sticky-top">
        <div class="d-flex"></div>
        <div class="row"></div>
        <nav class="navbar p-2 navbar-light bg-transparent">
            <h2 class="navbar-brand" href="#" id="profile-name">Cop or Not</h2>
        </nav>

    </header>
    
    <div class="container-fluid">
        <div class="row">
            <nav class="col-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us (Under Maintenence) </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/swipe">Find More NFT's (Under Maintenence) </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Your Favorites</h1>
                </div>

                <canvas class="my-4" id="myChart" width="900" height="380">
                    <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <img src="https://media.istockphoto.com/photos/red-green-and-blue-picture-id119562112?b=1&k=20&m=119562112&s=170667a&w=0&h=hex3OcI3MCuF3j3huKqaqbM_QdP-VY4a00r2K7jTwe8="
                        alt="bucket">
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <img src="https://media.istockphoto.com/photos/red-green-and-blue-picture-id119562112?b=1&k=20&m=119562112&s=170667a&w=0&h=hex3OcI3MCuF3j3huKqaqbM_QdP-VY4a00r2K7jTwe8="
                        alt="bucket">
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <img src="https://media.istockphoto.com/photos/red-green-and-blue-picture-id119562112?b=1&k=20&m=119562112&s=170667a&w=0&h=hex3OcI3MCuF3j3huKqaqbM_QdP-VY4a00r2K7jTwe8="
                        alt="bucket">
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <img src="https://media.istockphoto.com/photos/red-green-and-blue-picture-id119562112?b=1&k=20&m=119562112&s=170667a&w=0&h=hex3OcI3MCuF3j3huKqaqbM_QdP-VY4a00r2K7jTwe8="
                        alt="bucket">
                </div>
            </div>
        </div>
                </canvas>
            </main>
        </div>
    </div>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="./assets/js/script.js"></script>
</body>

</html>