* {
padding: 0;
margin: 0;
}

body {
    display: grid;
    height: 100vh;
    background-color: whitesmoke;
}

.header {
    padding: 20px;
    font-family: 'Major Mono Display', serif;
    color: black;
}

.header span.V{
    color: brown;
}

.header div.button1 button.LOGIN{
    float:right;
}

div.button1 button.LOGIN{
    display: inline-block;
    font-size: 10px;
    background-color: #e79b85;
    border: none;
    padding: 15px 32px;
    text-align: center;
    margin: 2px 2px;
    cursor: pointer;
    font-family: 'Arial Narrow', sans-serif;
    font-variant: small-caps;
}

.header div.button2 button.SIGNUP{
    float:right;
}

div.button2 button.SIGNUP {
    display: inline-block;
    font-size: 10px;
    background-color: #9b898f;
    border: none;
    padding: 15px 32px;
    text-align: center;
    margin: 2px 2px;
    cursor: pointer;
    font-family: 'Arial Narrow', sans-serif;
    font-variant: small-caps;
}