:root {
    /* color */
    --primary-color:var(--primary-color);
    --secondary-color:var(--primary-color);
    --third-color:var(--primary-color);
    /* font */
    /* --fontOne: ; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

header {
    background: linear-gradient(0.25turn, #ebf8e1, #f69d3c);
    border-bottom: black 1px solid;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 10px;
}

header nav h1 button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer {
    margin-top: 20px;
    border-top: black 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main div img {
    border: 1px solid whitesmoke;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}